<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604043318917-v1s40okvnhfmifok76plo25g33fnse7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604043318917-v1s40okvnhfmifok76plo25g33fnse7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>604043318917-7phebgrls0lhvbq8uc2g5tv73bpjm4a2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmCI4WkJqI_nP8o-uM798WkTBdLMQiyIg</string>
	<key>GCM_SENDER_ID</key>
	<string>604043318917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Boostrrr</string>
	<key>PROJECT_ID</key>
	<string>boostr-9e4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>boostr-9e4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604043318917:ios:34ab12a078d9f33862fbec</string>
</dict>
</plist>